@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nsans Regular';
  src: url('./assets/NetflixSans-Regular.woff2');
}

@font-face {
  font-family: 'Nsans Light';
  src: url('./assets/NetflixSans-Light.woff2');
}

@font-face {
  font-family: 'Nsans Medium';
  src: url('./assets/NetflixSans-Medium.woff2');
}

@font-face {
  font-family: 'Nsans Bold';
  src: url('./assets/NetflixSans-Bold.woff2');
}

body {
  font-family: 'Nsans Regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
background-color: black;
}